<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>The data set is very dirty. At the beginning, it even does not contain headers. I manually explored
        the contents to identify most of the headers. Besides, most of movies only have its name, thus I chose 
        a piece of data have most of the informations.</a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>No. The missing of the necessary information such as duration, production company, poster, etc. may be
	due to the missing data of the source of the data collection (like some movie website). The missing of winners and
	nominees may be due to the fact that this movie did not have any winners or nominees.</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>Some attributes are coherent, such as the movie name: always name + year, and the date: always in format
	YYYYMMDD. Meanwhile, the published dates (in readable format) match with the date attributes. If we explore the
	rationship between genre and rating, we can find that drama, thriller, romance and action/advance focus on R or
	NR; meanwhile Kid/Family focuses on PG or G and art/foreign focuses on NR. These relationship mathc my expectations
	and the distribution makes sense in some degree.</p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>Actually, it is not easy to verify the correctness of the data. The only thing I can verify is the published date,
	because this information is duplicated in the data set, which is included in the name, datepublished and date. Basically,
	the date is matched. However, the other information is not easy to verify. You need to compare them with the online
	information to verify their correctness. Some attributes can be verified from their correlation, like the relationship
	between genre and rating.</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
